.smooth-dnd {
  &-container {
    height: calc(100vh - 80px);
  }
  &-draggable-wrapper {
    width: 100%;
    border-radius: 8px;
    margin-bottom: .4rem;
    background-color: #ffffff;
  }
  &-item {
    float: left;
    margin: .5rem;
    width: calc(50% - 1rem);
    text-align: center;
    border-radius: 8px;
    border: 1px solid #e5e6e9;
    cursor: all-scroll;
    padding: 1.5rem;
  }
  &-drag {
    transition: .18s ease;
    box-shadow: 4px 4px 12px 2px rgba(0,0,0,.08);
  }
  &-drop {
    box-shadow: 0 0 2px 5px rgba(0,0,0,0);
  }
  &-icon {
    font-size: 2.2rem;
    margin-bottom: .5rem;
  }
  &-name {
    font-size: .8rem;
  }
}