body {
  padding: 10% 0;
}

.alert {
  border: 1px solid #DEDEDE;
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  margin-bottom: 20px;
  background-color: rgb(94, 27, 218);
  color: #FFFFFF;
}

.card {
  border: 1px solid #DEDEDE;
  border-radius: 12px;
  padding: 4rem;
  text-align: center;
  background-color: rgb(27, 148, 218);
  color: #FFFFFF;
}

.card h1 {
  margin-bottom: 0;
}