body {
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
}
.main {
  display: flex;
  height: 100vh;
  width: 100%;
}
.menu {
  width: 250px;
  height: 100vh;
  background-color: #ffffff;
  z-index: 100;
  border-right: 1px solid #e5e6e9;

  &-title {
    width: 100%;
    border-bottom: 1px solid #EAEAEA;
    background-color: #527eff;
    padding: 1rem;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: .4rem;
  }
  &-avatar {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &-link {
    position: relative;
    display: block;
    width: 100%;
    padding: .8rem 2rem;
    color: #979ba7;
    transition: all .3s ease-in-out;
    border-right: 4px solid transparent;

    &_active {
      border-color: #527eff;
      color: #527eff;
    }
    &:hover {
      border-color: #b3c5fc;
      color: #527eff;
      text-decoration: none;
    }
  }
}
.avatar {
  &-image {
    margin-bottom: 1rem;

    img {
      width: 100px;
      height: 100px;
    }
  }
  &-name {
    font-size: 1rem;
    text-transform: uppercase;
    color: #2d3344;
    font-weight: 500;
  }
}
.navbar {
  border-bottom: 1px solid #DEDEDE;

  .nav {
    &-title {
      font-weight: 500;
      text-transform: uppercase;
      color: #2d3344;
    }
  }
  &-bottom {
    border-bottom: 0;
    border-top: 1px solid #DEDEDE;
  }
}
.content {
  width: calc(100vw - 250px);
  height: calc(100vh - 40px);
  background-color: #ffffff;
  z-index: 120;

  &-inner {
    padding: 1rem;
  }
  &-flex {
    display: flex;
    width: 100%;
  }
}
.studio {
  width: calc(100vw - 500px);
  height: calc(100vh - 57px);
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
}
.secondary {
  width: 250px;
  height: calc(100vh - 57px);
  background-color: #ffffff;
  z-index: 100;
  border-left: 1px solid #e5e6e9;
  padding: 1rem;
}

.btn {
  border-radius: 12px;
  padding: .5rem 2.5rem;
  font-size: .9rem;
  text-transform: uppercase;
}

.form-demo{
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: flex
}

.form{
  flex: 3;
  /* width: 500px; */
  /* background-color: #f3f3f3; */
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 6px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.08), 0px 3px 3px rgba(0,0,0,0.08);
}

.form-fields-panel{
  flex: 1;
  margin-right: 50px;
}

.form-field{
  height: 50px;
  width: 250px;
  line-height: 30px;
  vertical-align: middle;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #eee;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
  /* background-color: #eee; */
  cursor: move;
  
}

.form-line {
  padding: 20px 30px;
  background-color: #f8f9fa;
  border: 1px solid transparent;
  border-radius: 6px;
  transition: all .3s ease;
  transition-property: border-color, background-color;
  cursor: move;
}

.form-line.selected {
  /* border: 1px solid #ddd; */
  background-color: #f8f9fa;
  /* box-shadow: 0px 0px 10px 10px #ccc; */
}

.form-ghost{
  transition: 0.18s ease;
  box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.08);
}

.form-ghost-drop{
  box-shadow: 0 0 2px 5px rgba(0,0,0,0.0);
}

.form-submit-button{
  border: 0;
  width: 100%;
  vertical-align: middle;
  height: 40px;
  color: #eee;
  background-color: cornflowerblue;
  cursor: pointer;
}

.label {
  margin-bottom: 5px; 
}

.field {
  cursor: auto;
}

.field input, .field textarea, .field select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  transition: border-color .3s ease;
}

.field input[type="radio"], .field input[type="checkbox"] {
  width: auto;
}

.field input:focus, textarea:focus {
  border: 1px solid #80bdff;
  box-shadow: 0 0 3px 0px #80bdff;
}

.field-group input, .field-group textarea, .field-group select{
  width: 49%;
  margin-right: 2%;
}

input:last-child{
  margin-right: 0;
}