.btn {
  border-radius: 6px;
  padding: 1rem 2rem;
  font-size: .8rem;
  line-height: 1;
  text-transform: uppercase;

  &-nav {
    border-color: #ffffff;
    color: #ffffff;
  }
  &-sm {
    padding: .8rem 1rem;
    font-size: .75rem;
  }
  &-icon {
    padding: .5rem 1rem;
    font-size: 1rem;
  }
}