.card:not(.card-default) {
  background: #FFFFFF;
  border: 0.5px solid #E0E0E0;
  box-sizing: border-box;
  box-shadow: 0px 14px 24px rgba(35, 35, 35, 0.1);
  border-radius: 20px;
  position: relative;

  &:hover .card-remove {
    opacity: 1;
  }
  &:hover .card-image {
    filter: grayscale(0);
    opacity: .6;
  }
  &-image {
    filter: grayscale(1);
    opacity: .2;
    transition: all .3s ease-in-out;

    img {
      width: 100%;
      height: auto;
    }
  }
  &-title {
    text-transform: uppercase;
    color: #808080;
    font-size: 16px;
    text-align: center;
  }
  &-remove {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: .5rem 1rem;
    background-color: #df4848;
    border-radius: 8px;
    opacity: 0;
    transition: opacity .3s ease-in-out;

    span {
      font-size: 1.4rem;
      color: #FFFFFF;
    }
  }
}