.card {
  background: #FFFFFF;
  border: 0;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  padding: .6rem;

  &.card-default {
    border: 0;
    box-shadow: none;
    border-radius: 0;
  }
  &:hover .card-remove {
    opacity: 1;
  }
  &:hover .card-image {
    filter: grayscale(0);
    opacity: .6;
  }
  &-link {
    cursor: pointer;
  }
  &-table {
    padding: 1rem;
    padding-bottom: 0;
  }
  &-image {
    filter: grayscale(1);
    opacity: .2;
    transition: all .3s ease-in-out;

    img {
      width: 100%;
      height: auto;
    }
  }
  &-title {
    text-transform: uppercase;
    color: #808080;
    font-size: 16px;
    text-align: center;
  }
  &-remove {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: .5rem 1rem;
    background-color: #df4848;
    border-radius: 8px;
    opacity: 0;
    transition: opacity .3s ease-in-out;

    span {
      font-size: 1.4rem;
      color: #FFFFFF;
    }
  }
}