.menu {
  width: 250px;
  height: 100vh;
  background-color: #ffffff;
  z-index: 100;
  border-right: 1px solid #e5e6e9;

  &-title {
    width: 100%;
    border-bottom: 1px solid #EAEAEA;
    background-color: #527eff;
    padding: 1rem;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: .4rem;
    text-transform: uppercase;
  }
  &-avatar {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &-link {
    position: relative;
    display: block;
    width: 100%;
    padding: .8rem 2rem;
    color: #979ba7;
    transition: all .3s ease-in-out;
    border-right: 4px solid transparent;

    &_active {
      border-color: #527eff;
      color: #527eff;
    }
    &:hover {
      border-color: #b3c5fc;
      color: #527eff;
      text-decoration: none;
    }
  }
}