.properties {
  width: 300px;
  height: calc(100vh - 62px);
  background-color: #ffffff;
  z-index: 100;
  border-left: 1px solid #e5e6e9;

  .tab {
    &-content {
      padding: 1rem .5rem;
    }
  }
  .nav {
    &-tabs {
      background-color: #f2f6ff;
      border: 0;
    }
    .nav-link {
      border: 0;
      border-radius: 0;
      color: inherit;
      font-size: .8rem;
      text-transform: uppercase;
      padding: 1rem 2rem;
      font-weight: 600;
      background-color: #f2f6ff;
      box-shadow: none;

      &:hover {
        background-color: #e8eefc;
      }
      &.active {
        background-color: #ffffff;
        border-bottom: 0;
      }
    }
  }
}