.sidebar {
  transition: width .3s ease-in-out;

  &-collapse {
    width: 64px !important;

    .sidebar-title {
      font-size: 0;
      height: 0;
      opacity: 0;
    }
  }
  .el-menu {
    height: 100vh;
  }
  &-title,
  &-title.is-active {
    background-color: #409EFF;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    padding: 0 !important;
    height: 57px;
    transition: all .3s ease-in-out;
  }
}