.studio {
  width: calc(100% - 350px);
  height: calc(100vh - 61px);
  overflow-y: scroll;
  position: relative;

  &-inner {
    zoom: .8;
    width: 80%;
    margin: 5% auto;
    position: relative;
    min-height: 200vh
  }
  &-layout {
    overflow: hidden;
  }
  &-empty {
    padding: 2rem;
    border: dashed 1px #dcdfe6;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 4px;
  }
}