.studio {
  width: calc(100% - 300px);
  height: calc(100vh - 62px);
  overflow-y: scroll;
  background-color: #f4f7ff;
  position: relative;

  &-inner {
    zoom: .8;
    width: 80%;
    margin: 5% auto;
    position: relative;
    min-height: 200vh
  }
}